{% if current_user.status==1 %}
{% extends "adminbase.html" %}
{% else %}{% extends "userbase.html" %}
{% endif %}
{% block title %}
查找图书
{% endblock %}
{% block body %}
     <fieldset class="layui-elem-field layui-field-title">
  <legend>查找图书</legend>
  <div class="layui-field-box" style="font-size: medium;line-height: 30px;">
      <br />
      <form class="layui-form" method="post">
        {{ form.csrf_token }}
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">{{ form.isbn.label }}：</label>
            <div class="layui-input-block">
                {{form.isbn(class="layui-input", style="width:40%", placeholder="请输入ISBN") }}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:150px">{{ form.name.label }}：</label>
            <div class="layui-input-block">
                {{ form.name(class="layui-input", style="width:40%", placeholder="请输入书名") }}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left:180px">
                <div class="layui-input-inline login-btn">
                    {{ form.submit(class="layui-btn") }}
                </div>
            </div>
        </div>
      </form>
  </div>
</fieldset>

{% if books!="" %}
    查询结果：
    {% for book in books %}
        <li style="font-size: 20px">
            书名:{{ book.name }}
            ISBN:{{ book.isbn }}
            价格:{{ book.price }}
            作者：{{ book.author }}
            数量： {{ book.num }}
            <a href="{{ url_for('borrowbook',isbn=book.isbn) }}" class="layui-btn">借阅图书</a>
        </li>

    {% endfor %}
{% endif %}
{% for message in get_flashed_messages() %}
        {{ message }}<br>
{% endfor %}
{% endblock %}