{% if current_user.status==1 %}
{% extends "adminbase.html" %}
{% else %}{% extends "userbase.html" %}
{% endif %}
{% block title %}
用户管理
{% endblock %}
{% block body %}
    <style>
    td{
        width: 100px;
        height: 50px;
        padding-left: 5px;
    }
    .test{
        width: 200px;
    }
    </style>
<h1>所有用户</h1>
    <table border="1" style="font-size: 15px;">
    <tr>
        <th>用户名</th>
        <th>邮箱</th>
        <th class="test">状态</th>
        <th>删除</th>
    </tr>

        {% for user in users %}
            <tr>
            <td>{{ user.username }}</td> <td>{{user.email }}</td> <td>{% if user.js==1 %}可借阅图书 {% else %}不可借阅图书{% endif %}</td><td><a  class="layui-btn" href="{{ url_for('deleteuser',uid=user.id) }}">删除用户</a></td>
            </tr>
    {% endfor %}


    </table>

<br>
    <div style="font-size: 15px">
    总页数：{{ paginate.pages }}
    <br>
    总共有{{ paginate.total }}条数据
    <br>
    当前页数：{{ paginate.page }}
    <br>
    {% if paginate.has_prev %}
        <a class="layui-btn" href="/manageuser?page={{ paginate.prev_num }}">上一页:</a>
    {% endif %}

    当前的页数：{{ paginate.page }}
    {% if paginate.has_next %}
         <a class="layui-btn" href="/manageuser?page={{ paginate.next_num }}">下一页:</a></a>
    {% endif %}
    <br>
    页码：{%  for i in  paginate.iter_pages(left_edge=paginate.pages) %}<!--left_edge=paginate.pages-->
    <a href="/manageuser?page={{ i }}">{{ i }}</a>
    {% endfor %}
{% for message in get_flashed_messages() %}
        {{ message }}<br>
    {% endfor %}

    </div>


{% endblock %}
