<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if current_user.is_authenticated() %}
 <h1>Hi {{ current_user.username }}!</h1>
{% endif %}
<a href="{{ url_for('logout') }}">登出</a>
<a href="{{ url_for('modify') }}">修改邮箱</a>
<h2>您的个人信息：</h2>
<li>头像：<img src="{{ url }}"><a href="{{ url_for('upload') }}">更换头像</a></li>
<li>邮箱：{{ current_user.email }}</li>
<li>权限：{% if current_user.status==1 %}
                超级管理员：管理用户，管理图书，借阅图书
        {% else %}
            普通用户：借阅图书
    {% endif %}
</li>
{% for message in get_flashed_messages() %}
        {{ message }}<br>
{% endfor %}
</body>
</html>