{% if current_user.status==1 %}
{% extends "adminbase.html" %}
{% else %}{% extends "userbase.html" %}
{% endif %}
{% block title %}
 profile
{% endblock %}
{% block body %}
    <fieldset class="layui-elem-field layui-field-title">
  <legend>个人中心</legend>
{% if current_user.is_authenticated() %}
 <h1>Hi {{ current_user.username }}!</h1>
{% endif %}
<h2>您的个人信息：</h2>
    <style>
        .test li{
            margin-top: 20px;
        }
    </style>
    <div style="font-size: 20px;" class="test">
        <li>头像：</li><img src="{{ url }}" style="height: 200px;width: 200px;">
    <li><a href="{{ url_for('upload') }}" class="layui-btn layui-btn-normal">更换头像</a></li>
<li>邮箱：{{ current_user.email }}</li>

<li>权限：{% if current_user.status==1 %}
                超级管理员：管理用户，管理图书，借阅图书
        {% else %}
            普通用户：借阅图书
    {% endif %}
</li>
{% if current_user.bid!=0 %}<li>当前已借阅图书：{{ book.name }}</li>{% endif %}
<li><a href="{{ url_for('returnbook',bid=current_user.bid)}}"  class="layui-btn">还书</a></li>

    </div>

{% for message in get_flashed_messages() %}
        {{ message }}<br>
{% endfor %}
    </fieldset>
{% endblock %}